.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
}
.btn-text-stretch {
  letter-spacing: 0px;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0px 0px 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: lato, serif;
}
.btn-text-stretch:hover {
  color: rgba(123,72,43,1);
  letter-spacing: 5px;
}
.btn-text-stretch::before {
  backface-visibility: hidden;
  border: 1.5px solid transparent;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0px auto;
  position: relative;
  transition: 0.4s ease-in-out;
  width: 0px;
}
.btn-text-stretch:hover::before {
  backface-visibility: hidden;
  transition: width 0.5s ease-in-out;
  width: 70%;
  bottom: auto;
  top: 0px;
  width: 70%;
}
.btn-text-stretch--orange {
  color: rgb(254, 174, 0);
}
.btn-text-stretch--orange:hover::before {
  border-color: rgba(123,72,43,1)
}
