.background {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 87%,
    rgba(23, 23, 23, 1) 10%
  );
}

@media screen and (min-width: 420px) {
  .background {
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 84%,
      rgba(23, 23, 23, 1) 10%
    );
  }
}

@media screen and (min-width: 750px) {
  .background {
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 79%,
      rgba(23, 23, 23, 1) 24%
    );
  }
}

@media screen and (min-width: 1024px) {
  .background {
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 78%,
      rgba(23, 23, 23, 1) 14%
    );
  }
}

@media screen and (min-width: 1440px) {
  .background {
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 78%,
      rgba(23, 23, 23, 1) 14%
    );
  }
}


@media screen and (min-width: 2000px) {
  .background {
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 89%,
      rgba(23, 23, 23, 1) 10%
    );
  }
}


