body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 5%,
    rgba(23, 23, 23, 1) 20%
  );
}

@media screen and (min-width: 750px) {
  body {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      rgba(255, 255, 255, 1) 75%,
      rgba(23, 23, 23, 1) 50%
    );
  }
}

@media screen and (min-width: 1020) {
  body {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      rgba(255, 255, 255, 1) 50%,
      rgba(23, 23, 23, 1) 50%
    );
  }
}

@media screen and (min-width: 1440) {
  body {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      rgba(255, 255, 255, 1) 10%,
      rgba(23, 23, 23, 1) 65%
    );
  }
}
